@model MotoGear.Core.ViewModels.CartSummaryViewModel

<ul style="padding-top: 15px" class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("Index", "Basket")">@Model.ShoppingCartCount items</a></li>
    <li><a href="@Url.Action("Index", "Basket")">@String.Format("{0:c}", Model.ShoppingCartTotal)</a></li>
</ul>
}